body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #060606;
  
  color: white;
}

#gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #000; /* Set the background to black */
  border: 10px solid transparent; /* Specify the border width and make it transparent initially */
  border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) 1; /* Apply a linear gradient as the border */
  box-shadow: 0 0 10px rgba(204, 80, 177, 0.5); /* Optional: shadow for some depth */
  z-index: 1; /* Make sure it's above the background */
  position: relative; /* Necessary for z-index */
  width: 65%; /* Adjust width as necessary */
  margin: auto; /* Center the container if less than full width */

}


canvas {
  border: 1px solid #fff;  /* Makes the canvas stand out more */
  z-index: 2;  /* Ensures canvas is on top within the game container */
}
.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Makes the profile picture circular */
  
}

.controls {
  text-align: center; /* Center-align the button texts */
  padding: 10px 0; /* Padding for spacing above and below the buttons */
  width: 100%; /* Full width to center align below the game container */
  box-sizing: border-box; /* Include padding and border in the width */
}
.controls button {
  margin: 0 10px; /* Spacing between buttons */
  padding: 5px 10px; /* Smaller padding for smaller screens */
  color: #fff;
  background-color: #333;
  border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) 1; /* Apply a linear gradient as the border */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.controls button:hover {
  background-color: #555; /* Hover effect */
  
}

.starlight-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;  /* Keeps the background behind other content */
  overflow: hidden;
  pointer-events: none;  /* Allows click events to pass through to elements below */
}
.star {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: twinkle 1s infinite alternate;
}

@keyframes twinkle {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top, high value to surpass other elements */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity, dims the background */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Adjust width as per your design */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Optional: Adds shadow for 3D effect */
  animation: animatetop 0.4s; /* Animation to slide in the modal */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0} 
  to {top: 0; opacity: 1}
}

