body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #060606;
  color: white;
}

#gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #000; /* Set the background to black */
  border: 10px solid transparent; /* Specify the border width and make it transparent initially */
  border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) 1; /* Apply a linear gradient as the border */
  box-shadow: 0 0 10px rgba(204, 80, 177, 0.5); /* Optional: shadow for some depth */
  z-index: 1; /* Make sure it's above the background */
  position: relative; /* Necessary for z-index */
  width: 65%; /* Adjust width as necessary */
  margin: auto; /* Center the container if less than full width */
}


canvas {
  border: 2px solid #fff;  /* Makes the canvas stand out more */
  z-index: 2;  /* Ensures canvas is on top within the game container */
}
.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Makes the profile picture circular */
}

.controls button {
  margin: 5px;
  padding: 10px;
  color: #fff;
  background-color: #333;
  border: none;
  cursor: pointer;
}

.controls button:hover {
  background-color: #555;
}

.starlight-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;  /* Keeps the background behind other content */
  overflow: hidden;
  pointer-events: none;  /* Allows click events to pass through to elements below */
}
.star {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: twinkle 1s infinite alternate;
}

@keyframes twinkle {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

